body {
  background-color: #0A192F;
}
.home {
  padding-top: 10rem;
}
section {
  padding-bottom: 100px;
}
.card{
  border: none;
  background-color: #112240;
  height: 75;
  padding: 0px 0px 0px 0px;
}
.cimg{
  padding: 15px;
}

.cgroup{
  padding: 0px 0px 0px 0px;
}
.bodycon {
  padding-top: 11rem;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem;
}
.fa {
  display: inline-block;
  padding: 30px;
  padding-left: 3rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.pexp{
  width: 60%;
}
.pimg {
  width: 100%;
  height: auto;
}
#licon{
  display:flex;
  flex-direction: row;
}
#listul{
  list-style: none;
  padding-right: 30px;
}
#listul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #E83E2A; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
#amsec{
  display: flex;
}
#sec1am{
width: 60%;
padding-right: 10%;
}
#sec2am{
width: 35%;
padding-top: 25px;
}

#pictureofme {
  margin-left: auto;
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.aboutme{
  font-family: 'Segoe UI', sans-serif;
  color: white;
  font-weight: bold;
}
.projecttitle{
  font-family: 'Segoe UI', sans-serif;
  color:#E83E2A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.font {
  font-family: 'Source Sans Pro', sans-serif;
}


#email {
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  bottom: 60px;
  right: 5px;
  color: #E83E2A;
  transform: rotate(90deg);
}

a{
  display: inline-block;
  bottom: 50%;
  color: #E83E2A;
}
a:hover{
  color: #8b0000;
}

.fa:hover {
  opacity: 0.7;
}

.brand{
  font-size: 1.75rem;
}

.ptext{
  padding-top: 1.5rem;
  color: #8892B0;
}
hr {
  color: #8892B0;
}

.amcon {
  width: 100%;
}
#navtoggle {
  margin: 0 auto;
  position: fixed;
  right: 10px;
  color:#E83E2A;
}

#logo1 {
  size: 200px;
}

#whatido{
  font-weight: bold;
  color: #8892B0;
  font-size: 5rem;
}
#navbartitle {
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #E83E2A;
}

#links{
  padding-left: 2rem;
}

#navbar{
  width: 100%;
  background-color:#0A192F;
  margin: 0 auto;
  position: fixed;
}

#name {
  font-weight: bold;
  font-size: 5rem;
  color: white;
}

#greeting {
  font-weight: 300;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #E83E2A;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 600px) {
  .bodycon {
    width: 50%;
  }
  #sec1am {
    width: 100%;
  }
  #sec2am {
    width: 100%;
  }
  #logo1{
    position: fixed;
    bottom: 0px;
    }
    #logo2{
      position: fixed;
    bottom: 0px;
    left: 75px;
    }
    #logo3{
      position: fixed;
    bottom: 0px;
    left: 150px;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
